In [221]:
import pandas as pd

In [106]:
df = pd.ExcelFile('Data extracted from sniffer logs.xlsx')

In [107]:
df.sheet_names

['Sheet1', 'Sheet2', 'Sheet3']

In [222]:
xl = pd.read_excel("Data extracted from sniffer logs.xlsx", sheetname = "Sheet1")

In [110]:
dir(xl)

['Date',
 'Source',
 'T',
 'Temperature',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [72]:
xl.iloc[4906,0:3]

Source                      0x7e91
Date           2017-08-30 17:45:44
Temperature                  -2.29
Name: 4906, dtype: object

In [126]:
a = []
for i in range(1):
    print(xl.iloc[4906-i,0:3])
    a.append(xl.iloc[4906-i,0:3])

Source                      0x7e91
Date           2017-08-30 17:45:44
Temperature                  -2.29
Name: 4906, dtype: object

In [272]:
import datetime
end_date = "30.8.2017  17:45:44"
#start_date = "30.8.2017  17:44:41"

end_date = pd.to_datetime(end_date)

start_date = end_date - datetime.timedelta(minutes=5)

print(start_date)
print(end_date)

#xl['Date'] = pd.to_datetime(xl.Date)
mask = (xl['Date'] >= start_date) & (xl['Date'] <= end_date)
xl.loc[mask,"Source":"Temperature"]

2017-08-30 17:40:44
2017-08-30 17:45:44

      Source                Date  Temperature
4816  0x4ea7 2017-08-30 17:40:44        -4.43
4817  0x7e91 2017-08-30 17:40:44        -2.29
4818  0x376b 2017-08-30 17:40:45        -3.59
4819  0x86e0 2017-08-30 17:40:45        -3.80
4820  0x66ce 2017-08-30 17:40:45        -2.92
4821  0xa1c6 2017-08-30 17:40:47        -2.50
4822  0x59cf 2017-08-30 17:40:48        -4.10
4823  0x45a5 2017-08-30 17:40:48        -3.01
4824  0x8729 2017-08-30 17:40:50        -2.84
4825  0xe2cb 2017-08-30 17:41:01        -3.45
4826  0xb2f8 2017-08-30 17:41:05        -4.91
4827  0x4aae 2017-08-30 17:41:09        -3.14
4828  0x85f5 2017-08-30 17:41:11        -2.50
4829  0x3e92 2017-08-30 17:41:25        -2.50
4830  0xfea4 2017-08-30 17:41:26        -3.23
4831  0xdc59 2017-08-30 17:41:36        -2.48
4832  0x2999 2017-08-30 17:41:39        -2.92
4833  0x95c5 2017-08-30 17:41:41        -4.37
4834  0x4ea7 2017-08-30 17:41:44        -4.24
4835  0x7e91 2017-08-30 17:41:44        -2.29
4836  0x376b 2017-08-30 17:41:45        -3.59
4837  0x86e0 2017-08-30 17:41:45        -3.80
4838  0x66ce 2017-08-30 17:41:45        -2.71
4839  0xa1c6 2017-08-30 17:41:47        -2.50
4840  0x59cf 2017-08-30 17:41:48        -4.10
4841  0x45a5 2017-08-30 17:41:48        -3.01
4842  0x8729 2017-08-30 17:41:50        -2.84
4843  0xe2cb 2017-08-30 17:42:01        -3.24
4844  0xb2f8 2017-08-30 17:42:05        -4.91
4845  0x4aae 2017-08-30 17:42:09        -3.14
...      ...                 ...          ...
4877  0x8729 2017-08-30 17:43:50        -2.84
4878  0xe2cb 2017-08-30 17:44:01        -3.24
4879  0xb2f8 2017-08-30 17:44:05        -4.91
4880  0x4aae 2017-08-30 17:44:09        -3.14
4881  0x85f5 2017-08-30 17:44:11        -2.50
4882  0x3e92 2017-08-30 17:44:25        -2.50
4883  0xfea4 2017-08-30 17:44:26        -3.23
4884  0xdc59 2017-08-30 17:44:36        -2.48
4885  0x2999 2017-08-30 17:44:39        -2.92
4886  0x95c5 2017-08-30 17:44:41        -4.37
4887  0x4ea7 2017-08-30 17:44:44        -4.24
4888  0x7e91 2017-08-30 17:44:44        -2.29
4889  0x376b 2017-08-30 17:44:45        -3.59
4890  0x86e0 2017-08-30 17:44:45        -3.80
4891  0x66ce 2017-08-30 17:44:45        -2.71
4892  0xa1c6 2017-08-30 17:44:47        -2.50
4893  0x59cf 2017-08-30 17:44:48        -4.10
4894  0x45a5 2017-08-30 17:44:48        -2.80
4895  0x8729 2017-08-30 17:44:50        -2.84
4896  0xe2cb 2017-08-30 17:45:01        -3.24
4897  0xb2f8 2017-08-30 17:45:05        -4.91
4898  0x4aae 2017-08-30 17:45:09        -3.14
4899  0x85f5 2017-08-30 17:45:11        -2.29
4900  0x3e92 2017-08-30 17:45:25        -2.50
4901  0xfea4 2017-08-30 17:45:26        -3.23
4902  0xdc59 2017-08-30 17:45:36        -2.48
4903  0x2999 2017-08-30 17:45:39        -2.92
4904  0x95c5 2017-08-30 17:45:41        -4.37
4905  0x4ea7 2017-08-30 17:45:44        -4.24
4906  0x7e91 2017-08-30 17:45:44        -2.29

[91 rows x 3 columns]

In [229]:
s = pd.Series(pd.date_range('2017.08.30 17:45:11', periods=2, freq='D'))
print(s)
b = s + pd.Timedelta(minutes=5, seconds=5)
print(b)

0   2017-08-30 17:45:11
1   2017-08-31 17:45:11
dtype: datetime64[ns]
0   2017-08-30 17:50:16
1   2017-08-31 17:50:16
dtype: datetime64[ns]

In [237]:
df1 = pd.DataFrame({'TDate':['2005-01-03','2005-01-04','2005-01-05'],
                   'Hour':[4,5,6]})
df1
df1['TDate'] = pd.to_datetime(df1.TDate)
print (df1)

   Hour      TDate
0     4 2005-01-03
1     5 2005-01-04
2     6 2005-01-05

In [30]:
import pandas as pd
import datetime

xl = pd.read_excel("Data extracted from sniffer logs.xlsx", sheetname = "Sheet1")

end_date = "30.8.2017  17:45:44"
#start_date = "30.8.2017  17:44:41"

end_date = pd.to_datetime(end_date)

start_date = end_date - datetime.timedelta(minutes=5)

print(start_date)
print(end_date)

#xl['Date'] = pd.to_datetime(xl.Date)
mask = (xl['Date'] >= start_date) & (xl['Date'] <= end_date)
xl.loc[mask,"Source":"Temperature"]

2017-08-30 17:40:44
2017-08-30 17:45:44

      Source                Date  Temperature
4816  0x4ea7 2017-08-30 17:40:44        -4.43
4817  0x7e91 2017-08-30 17:40:44        -2.29
4818  0x376b 2017-08-30 17:40:45        -3.59
4819  0x86e0 2017-08-30 17:40:45        -3.80
4820  0x66ce 2017-08-30 17:40:45        -2.92
4821  0xa1c6 2017-08-30 17:40:47        -2.50
4822  0x59cf 2017-08-30 17:40:48        -4.10
4823  0x45a5 2017-08-30 17:40:48        -3.01
4824  0x8729 2017-08-30 17:40:50        -2.84
4825  0xe2cb 2017-08-30 17:41:01        -3.45
4826  0xb2f8 2017-08-30 17:41:05        -4.91
4827  0x4aae 2017-08-30 17:41:09        -3.14
4828  0x85f5 2017-08-30 17:41:11        -2.50
4829  0x3e92 2017-08-30 17:41:25        -2.50
4830  0xfea4 2017-08-30 17:41:26        -3.23
4831  0xdc59 2017-08-30 17:41:36        -2.48
4832  0x2999 2017-08-30 17:41:39        -2.92
4833  0x95c5 2017-08-30 17:41:41        -4.37
4834  0x4ea7 2017-08-30 17:41:44        -4.24
4835  0x7e91 2017-08-30 17:41:44        -2.29
4836  0x376b 2017-08-30 17:41:45        -3.59
4837  0x86e0 2017-08-30 17:41:45        -3.80
4838  0x66ce 2017-08-30 17:41:45        -2.71
4839  0xa1c6 2017-08-30 17:41:47        -2.50
4840  0x59cf 2017-08-30 17:41:48        -4.10
4841  0x45a5 2017-08-30 17:41:48        -3.01
4842  0x8729 2017-08-30 17:41:50        -2.84
4843  0xe2cb 2017-08-30 17:42:01        -3.24
4844  0xb2f8 2017-08-30 17:42:05        -4.91
4845  0x4aae 2017-08-30 17:42:09        -3.14
...      ...                 ...          ...
4877  0x8729 2017-08-30 17:43:50        -2.84
4878  0xe2cb 2017-08-30 17:44:01        -3.24
4879  0xb2f8 2017-08-30 17:44:05        -4.91
4880  0x4aae 2017-08-30 17:44:09        -3.14
4881  0x85f5 2017-08-30 17:44:11        -2.50
4882  0x3e92 2017-08-30 17:44:25        -2.50
4883  0xfea4 2017-08-30 17:44:26        -3.23
4884  0xdc59 2017-08-30 17:44:36        -2.48
4885  0x2999 2017-08-30 17:44:39        -2.92
4886  0x95c5 2017-08-30 17:44:41        -4.37
4887  0x4ea7 2017-08-30 17:44:44        -4.24
4888  0x7e91 2017-08-30 17:44:44        -2.29
4889  0x376b 2017-08-30 17:44:45        -3.59
4890  0x86e0 2017-08-30 17:44:45        -3.80
4891  0x66ce 2017-08-30 17:44:45        -2.71
4892  0xa1c6 2017-08-30 17:44:47        -2.50
4893  0x59cf 2017-08-30 17:44:48        -4.10
4894  0x45a5 2017-08-30 17:44:48        -2.80
4895  0x8729 2017-08-30 17:44:50        -2.84
4896  0xe2cb 2017-08-30 17:45:01        -3.24
4897  0xb2f8 2017-08-30 17:45:05        -4.91
4898  0x4aae 2017-08-30 17:45:09        -3.14
4899  0x85f5 2017-08-30 17:45:11        -2.29
4900  0x3e92 2017-08-30 17:45:25        -2.50
4901  0xfea4 2017-08-30 17:45:26        -3.23
4902  0xdc59 2017-08-30 17:45:36        -2.48
4903  0x2999 2017-08-30 17:45:39        -2.92
4904  0x95c5 2017-08-30 17:45:41        -4.37
4905  0x4ea7 2017-08-30 17:45:44        -4.24
4906  0x7e91 2017-08-30 17:45:44        -2.29

[91 rows x 3 columns]

In [230]:
xl1 = xl.loc[mask,"Source":"Temperature"]
xl2 = xl1.sort_values("Source")
xl2 = xl2.drop_duplicates(subset='Source', keep="last")
#xl2["Chamber_Temp"] = '-5'
#xl2.loc[:,["Source","Temperature"]]
xl2

      Source                Date  Temperature
4850  0x2999 2017-08-30 17:42:39        -2.92
4889  0x376b 2017-08-30 17:44:45        -3.59
4900  0x3e92 2017-08-30 17:45:25        -2.50
4841  0x45a5 2017-08-30 17:41:48        -3.01
4880  0x4aae 2017-08-30 17:44:09        -3.14
4887  0x4ea7 2017-08-30 17:44:44        -4.24
4858  0x59cf 2017-08-30 17:42:48        -4.10
4873  0x66ce 2017-08-30 17:43:45        -2.71
4817  0x7e91 2017-08-30 17:40:44        -2.29
4881  0x85f5 2017-08-30 17:44:11        -2.50
4837  0x86e0 2017-08-30 17:41:45        -3.80
4842  0x8729 2017-08-30 17:41:50        -2.84
4886  0x95c5 2017-08-30 17:44:41        -4.37
4821  0xa1c6 2017-08-30 17:40:47        -2.50
4897  0xb2f8 2017-08-30 17:45:05        -4.91
4867  0xdc59 2017-08-30 17:43:36        -2.48
4896  0xe2cb 2017-08-30 17:45:01        -3.24
4883  0xfea4 2017-08-30 17:44:26        -3.23

In [225]:
xl3 = xl2.set_index('Source')
xl3

                      Date  Temperature
Source
0x2999 2017-08-30 17:42:39        -2.92
0x376b 2017-08-30 17:44:45        -3.59
0x3e92 2017-08-30 17:45:25        -2.50
0x45a5 2017-08-30 17:41:48        -3.01
0x4aae 2017-08-30 17:44:09        -3.14
0x4ea7 2017-08-30 17:44:44        -4.24
0x59cf 2017-08-30 17:42:48        -4.10
0x66ce 2017-08-30 17:43:45        -2.71
0x7e91 2017-08-30 17:40:44        -2.29
0x85f5 2017-08-30 17:44:11        -2.50
0x86e0 2017-08-30 17:41:45        -3.80
0x8729 2017-08-30 17:41:50        -2.84
0x95c5 2017-08-30 17:44:41        -4.37
0xa1c6 2017-08-30 17:40:47        -2.50
0xb2f8 2017-08-30 17:45:05        -4.91
0xdc59 2017-08-30 17:43:36        -2.48
0xe2cb 2017-08-30 17:45:01        -3.24
0xfea4 2017-08-30 17:44:26        -3.23

In [231]:
xl2 = xl2.loc[mask,["Source","Temperature"]]
xl2

      Source  Temperature
4850  0x2999        -2.92
4889  0x376b        -3.59
4900  0x3e92        -2.50
4841  0x45a5        -3.01
4880  0x4aae        -3.14
4887  0x4ea7        -4.24
4858  0x59cf        -4.10
4873  0x66ce        -2.71
4817  0x7e91        -2.29
4881  0x85f5        -2.50
4837  0x86e0        -3.80
4842  0x8729        -2.84
4886  0x95c5        -4.37
4821  0xa1c6        -2.50
4897  0xb2f8        -4.91
4867  0xdc59        -2.48
4896  0xe2cb        -3.24
4883  0xfea4        -3.23

In [232]:
xl2 = xl2.set_index('Source')

In [233]:
xl2 = xl2.rename(index=str, columns={"Temperature": "-5"})
xl2 = xl2.transpose()
xl2

Source,0x2999,0x376b,0x3e92,0x45a5,0x4aae,0x4ea7,0x59cf,0x66ce,0x7e91,0x85f5,0x86e0,0x8729,0x95c5,0xa1c6,0xb2f8,0xdc59,0xe2cb,0xfea4
-5,-2.92,-3.59,-2.5,-3.01,-3.14,-4.24,-4.1,-2.71,-2.29,-2.5,-3.8,-2.84,-4.37,-2.5,-4.91,-2.48,-3.24,-3.23